@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.dad_container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  border: 1px solid inivisible;
}

.mogo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
}

.manu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #95e1d3;
}

.manu-item1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f38181;
}

.head-container {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  justify-content: space-between;
  width: 490px;
  border: 1px solid invisible;
  display: inline-flex;
  align-items: center;
  margin-bottom: 110px;
}

.manu-item1::after {
  content: "";
  display: block;
  background-color: rgb(243, 129, 129);
  width: 46px;
  height: 3px;
  margin: 0px auto 0px;
}

.we_work {
  border: 1px solid invisible;
  text-align: center;
  /*margin: 0 auto;*/
}

.KaushanScript {
  font-family: 'Kaushan Script';
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}

.Montserrat {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.Montserrat2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.Montserrat::after {
  content: "";
  display: block;
  background-color: rgb(243, 129, 129);
  width: 46px;
  height: 3px;
  margin: 43px auto 66px;
}

.main{
  margin-bottom: 92px;
}

.items-block {
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid invisible;
  flex-wrap: wrap;
}

.block_items {
  width: 33.33%;
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid invisible;
  margin: 0px 0px 100px 0px;
}

.help {
  width: 32px;
  border: 1px solid invisible;
}

.help1 {
  width: 279px;
  border: 1px solid invisible;
}

.Montserrat2::after {
  content: "";
  display: block;
  background-color: rgb(243, 129, 129);
  width: 46px;
  height: 3px;
  margin: 46px auto 43px;
}

.lorem_border {
  width: 943px;
  margin: 0 auto;
}

.lorem {
  margin-bottom: 92px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

.photo_border {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo_container {
  text-align: center;
}

.photo_title {
  margin-top: 31px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.photo_text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  margin: 15px 0 82px 0;
}

footer {
  border-top: 1px solid #000;
  min-height: 63px;
}

.footer_container {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

#id_input {
  color: #000000;
  width: 230px;
  height: 41px;
  margin: 0;
  padding: 0;
}

.button {
  border: 1px solid #95e1d3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  background: #95e1d3;
  box-sizing: border-box;
  width: 150px;
  height: 41px;
  margin: 0;
  padding: 0;
}

.forms {
  justify-content: space-between;
  width: 386px;
  border: 1px solid invisible;
  display: inline-flex;
  align-items: center;
  border: 1px solid invisible;
  margin: 11px 0;
}

.span_container {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.spa {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #f38181;
}

.items_title{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.items_text{
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;  
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

.email::placeholder{
  padding-left: 13px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
}

.form{
  display: flex;
}

.email{
  border: 1px solid #e7e7e7;
}