@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
}

a{
  display: inline-block;
  text-decoration: none;
}

  

body{
  min-width: 320px;
}


.header{
  padding-top: 38px;
  background-image: url(../img/bgHeader-320.png); 
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

.container{
  
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
}
.nav{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 115px;
}
.login{
  background: transparent;
  border: 1px solid transparent;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-right: 20px;
  /* padding-left: 19px;
  padding-right: 18px; */
}
.login{
  background: transparent;
  border: 1px solid transparent;
}
.signUp{
  background: transparent;
  border: 2px solid #ffffff;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 18px;
  border-radius: 200px 200px 200px 200px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.title{
  margin: 0 auto;
  font-family: Montserrat;
font-size: 20px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.05em;
color: #ffffff;
}

.info{
  padding-top: 38px;
  padding-bottom: 19px;
  font-family: Montserrat;
font-size: 30px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
}

.subtitlle{
font-family: 'Roboto', sans-serif;
font-size: 18px;
line-height: 1.2;
color: #ffffff;
padding-right: 52px;
padding-left: 51px;
margin-bottom: 19px;
}

.FindPartner{
  
background-color: #ff4e50;

padding-top: 14px;
padding-bottom: 14px;
padding-right: 52px;
padding-left: 51px;

border-radius: 200px 200px 200px 200px;

font-family: Montserrat;
font-size: 14px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}

.link-conteiner{
  padding-bottom: 138px;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-width: 280px;
  margin: 0 auto;
}

.main-title{
  margin-top: 62px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}

.partner{
  margin-bottom: 20px;
}

.partner-name{
  margin-bottom: 16px;
  font-family: Montserrat;
font-size: 14px;
line-height: 1.2;
font-weight: 700;
color: #333333;
}

.partner-info{
  margin-bottom: 29px;
  font-family: Roboto;
font-size: 14px;
line-height: 1.2;
font-weight: 100;
color: #666666;
}

.OtherPartners{
  padding-top: 14px;
  padding-bottom: 12px;
  padding-right: 70px;
  padding-left: 69px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #ff4e50;
  border-radius: 200px 200px 200px 200px ;
  border: 2px solid #ff4e50;
  margin-bottom: 57px;
}
@media screen and (min-width: 520px) {
  

 .header{
    background-image: url(../img/BGHeader-768.png); 
  }

  .title{
    font-family: Montserrat;
font-size: 20px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.05em;
color: #ffffff;
  }
  .tablet-manu{
    height: 36px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .nav{
    margin: 0;
    margin-right: 50px;
    width: 170px;
  }
  .info{
    padding-top: 151px;
    max-width: 503px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  .subtitlle{
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .link-conteiner{
    padding-bottom: 234px;
  }
  .title{
    margin: 0;

    margin-left: 49px;
  }
  .main-title{
    width: 415.5px;
    margin-bottom: 32px;
  }

  

  .partners{
    width: 206px;
  }

  .columns-rows{
    width: 460px;
    height: 488px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 39px;
  }
  .nomargin{
    margin: 0;
  }
  .OtherPartners{
    margin-bottom: 40px;
  } 
  /*

  
  
  
  

  
  

  

 
  */
}



@media screen and (min-width: 576px) {
  .header{
    background-image: url(../img/BGHeader-768.png); 
  }
}

@media screen and (min-width: 768px) {
  .header{
    /* background: blue; */
    background-image: url(../img/bgHeader-1440.png);
  }
  .columns-rows{
    height: 235px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .order0{
    order: 0;
  }
  .order1{
    order: 1;
  }
  .order2{
    order: 2;
  }
  .order3{
    order: 3;
  }

  .OtherPartners{
    margin-bottom: 73px;
  }
   .title{
    margin: 0;
  }
  .nav{
    margin: 0;
  }
  .tablet-manu{
    width: 100%;
  }
  
}

@media screen and (max-width: 1200px) {

  .title{
    margin-left: 150px;
  }  
  .nav{
    margin-right: 150px;
  }
}

@media screen and (max-width: 768px) {
  .title{
    margin-left: 49px;
  }  
  .nav{
    margin-right: 50px;
  }
}

@media screen and (max-width: 520px) {
  .nav{
    margin-right: 0;
  }
  .title{
    margin-left: 0;
  }
}

@media screen and (min-width: 1000px) {
  .columns-rows{
    max-width: 915px;
  }
}